Calling functions() without any parameters takes the default parameters contained in variables like: DATA_PATH, or  DATA_FILE

The download of an archive file with fetch_data() directly from a Web site, was tested with the protocol https (with a ssl security) don't know if it works with the protocol http without the security layer.

In [1]:
import os
import tarfile
import urllib
import ssl

DOWNLOAD_ROOT = "https://github.com/ageron/handson-ml/tree/master/"
DOWNLOAD_PATH = "datasets/housing/"
DATA_PATH = "datasets/"
DATA_FILE = "housing.tgz"
SITE_URL = DOWNLOAD_ROOT + DOWNLOAD_PATH + DATA_FILE

def fetch_data(site_url=SITE_URL, data_path=DATA_PATH, data_file=DATA_FILE):
    if not os.path.isdir(data_path):
        os.makedirs(data_path)
    print (site_url, data_path)
    tgz_path = os.path.join(data_path, data_file)
    urllib.request.urlretrieve(site_url, tgz_path)

In [2]:
fetch_data()

https://github.com/ageron/handson-ml/tree/master/datasets/housing/housing.tgz datasets/

Once the file is downloaded it must be decompressed or unarchived or both. This step and the previous one may be done with interactive tools or with commands lines in a terminal.

In [3]:
import os
import tarfile
DATA_PATH = "datasets/"
DATA_FILE = "housing.tgz"

def unarch_file(data_path=DATA_PATH, data_file=DATA_FILE):
    tgz_path = os.path.join(data_path, data_file)
    file_tgz = tarfile.open(tgz_path)
    file_tgz.extractall(path = data_path)
    file_tgz.close()

In [4]:
unarch_file()

ReadError: file could not be opened successfully

Now it's time to upload the data from a file into a Pandas data structure

In [5]:
import pandas as pd
import os # add these lines if fetch_data has not been excecute
DATA_PATH = "datasets/"
DATA_FILE = "housing.csv"

def load_data (data_path=DATA_PATH, data_file=DATA_FILE):
    csv_path = os.path.join(data_path, data_file)
    return pd.read_csv(csv_path)

In [6]:
housing = load_data()
housing.head()# displays the first 5 lines

FileNotFoundError: [Errno 2] File b'datasets/housing.csv' does not exist: b'datasets/housing.csv'

In [3]:
housing.tail()# displays the last 5 lines

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
housing.info() #infos on the type of structure and the type of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [5]:
housing.describe() #some statistical information on the dataset

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
import matplotlib.pyplot as plt # to create graphical representations
housing.hist(bins=50, figsize=(30,45)) 
plt.show()

In [7]:
list(housing.keys())

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

Warning the dataset housing has at least one variable with missing values